<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
   
    <title>Game and Prize Management</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button class="btn btn-primary sidebar-btn" data-target="minigame-list">Mini Game List</button>
            <button class="btn btn-primary sidebar-btn" data-target="prize-list">Prize List</button>
            <button class="btn btn-primary sidebar-btn" onclick="window.location.href='/public-link-list'">Public Game Link</button>
            <button class="btn btn-primary sidebar-btn" onclick="window.location.href='/winner-list'">Winner List</button>
        </div>
    </div>

    <div class="container">
        <h1>-------------------------Admin Management---------------------</h1>
        <h2>Public Game Link List</h2>
        <form method="POST" action="{{ url_for('public_link_list') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <label for="link">Link:</label>
            {{ form.link(class="form-control link-input") }}
            <label for="gameId">Game Id:</label>
            {{ form.gameId(class="form-control gameId-input") }}
            <label for="poster">Poster:</label>
            {{ form.poster(class="form-control poster-input") }}
            <label for="description">Description:</label>
            {{ form.description(class="form-control description-input") }}
            <button type="submit" class="btn btn-primary add-link">Add Link</button>
        </form>
        <table class="table">
            <thead>
            
            </thead>
            
            <tbody class="links-list">
                {% for link in links %}
                    <tr>
                        <td>{{ link.Link }}</td>
                        <td>{{ link.GameId }}</td>
                        <td>{{ link.Poster }}</td>
                        <td>{{ link.Caption }}</td>
                        <td>
                            <button class="btn btn-warning edit-link">Edit</button>
                            <button class="btn btn-danger delete-link">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Winners List</h2>
        <form method="POST" action="{{ url_for('winner_list') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <label for="idWin">Win Id:</label>
            {{ form.idWin(class="form-control idWin-input") }}
            <label for="idPlayer">Player Id:</label>
            {{ form.idPlayer(class="form-control playerId-input") }}
            <label for="giftId">Gift Id:</label>
            {{ form.giftId(class="form-control giftId-input") }}
            <label for="amount">Amount:</label>
            {{ form.amount(class="form-control amount-input") }}
            <label for="state">State:</label>
            {{ form.state(class="form-control state-input") }}
            <button type="submit" class="btn btn-primary add-winner">Add Winner</button>
        </form>
        <table class="table">
            <thead>
             
            </thead>
            <tbody class="winners-list">
                {% for winner in winners %}
                    <tr>
                        <td>{{ winner.WinId }}</td>
                        <td>{{ winner.IdPlayer }}</td>
                        <td>{{ winner.GiftId }}</td>
                        <td>{{ winner.Amount }}</td>
                        <td>{{ winner.State }}</td>
                        <td>
                            <td>
                                <button class="btn btn-warning edit-winner" data-winner-id="{{ winner.WinId }}">Edit</button>
                                <button class="btn btn-danger delete-winner" data-winner-id="{{ winner.WinId }}">Delete</button>
                            </td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
        </td>
    </script>
</body>
</html>
